/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';

$hoverable: rgb(0 0 0/20%);
$primary-dark: rgb(180, 183, 186);
$primary: rgb(223, 226, 229);

@theme {
  --font-display: 'Satoshi', 'sans-serif';
  --color-primary: rgb(223, 226, 229);
  --color-primary-dark: rgb(180, 183, 186);
  --color-primary-green: rgb(106, 150, 136);
  --color-primary-green-opaque: rgb(106 150 136 / 10%);
  --color-primary-blue: rgb(67, 112, 161);
  --color-primary-blue-opaque: rgb(67 112 161 / 10%);
  --color-secondary-blue: rgb(12, 52, 79);
}

@layer components {
  .toggle input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The circle inside the slider */
  .slider:before {
    position: absolute;
    content: '';
    height: 0.75rem;
    width: 0.75rem;
    border-radius: 50%;
    left: 2px;
    bottom: 2px;
    background-color: var(--color-white);
    transition: 0.4s;
  }

  /* When the checkbox is checked, slide the circle */
  input:checked + .slider {
    background-color: var(--color-purple-400);
  }

  input:checked + .slider:before {
    transform: translateX(0.9rem);
  }

  /* When creating common used tailwind utility classes, I should do something like this so they can have the same name */
  .card {
    // w-full rounded-lg bg-stone-900 p-2 text-gray-200
    width: var(--w-full);
    border-radius: var(--radius-lg);
    background-color: $primary;
    padding: var(--spacing-2);
    color: var(--color-stone-800);
  }
}

@utility shadow-inset {
  box-shadow: inset 0 -1px 4px rgba(0, 0, 0, 0.2);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

button:enabled,
a:enabled {
  cursor: pointer;
}

/* For Webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 10px; /* Scrollbar width */
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-primary-dark); /* Background of the scrollbar track */
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-primary-green); /* Color of the scrollbar handle */
  border-radius: var(--radius-sm);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(rgb(0 0 0/20%) 0 0);
  cursor: pointer;
}

.hoverable {
}

.hoverable:hover:enabled {
  background-image: linear-gradient($hoverable 0 0);
}

.hoverable-forced:hover {
  background-image: linear-gradient($hoverable 0 0);
}
